@font-face {
  font-family: 'Ownglyph_2022_UWY_Da_Gyeong';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Ownglyph_2022_UWY_Da_Gyeong/Ownglyph_2022_UWY_Da_Gyeong-Rg.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/Ownglyph_2022_UWY_Da_Gyeong/Ownglyph_2022_UWY_Da_Gyeong-Rg.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/Ownglyph_2022_UWY_Da_Gyeong/Ownglyph_2022_UWY_Da_Gyeong-Rg.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/Ownglyph_2022_UWY_Da_Gyeong/Ownglyph_2022_UWY_Da_Gyeong-Rg.ttf') format('truetype');
}